# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

#goland
.idea
logs
*.log
go.sum

#config-pro.yaml
bin
go.work.sum
*.iml
*.xml

.DS_Store

# config.yaml
config-local.yaml

# debug artifacts
.debug/
token.json